.boddy {
  background-color: #f8d849;
}
.payment-container {
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  background: #fafafa;
  border-radius: 10px;
  box-shadow: 0 0 10px #f8d849;
}

.payment-container form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.payment-container input {
  margin-top: 10px;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #f8d849;
}

.payment-container button {
  background-color: #f8d849;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}
